.ember-weather-forecast {
  padding-top: 10px;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;

  > .forecast-cards-container {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .ember-weather-forecast {
    > .forecast-cards-container {
      flex-direction: column;
    }
  }
}