.ember-weather-forecast {
  padding-top: 10px;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: flex-start;

  > .forecast-cards-container {
    display: flex;
  }
}
