<div class="forecast-cards-container">
    {{#each @emberForecastCards as |emberForecastCard|}}
        <EmberForecastCard
                @forecastCard={{emberForecastCard}}
                @temperatureUnit={{@temperatureUnit}}
        />
    {{/each}}
</div>
{{yield}}